/* Add a black background color to the top navigation */

html,
body {
    margin: 0;
    background-color: rgb(29, 29, 29);
}

@media only screen and (max-device-width: 900px) {
    .container {
        width: 100%;
    }
}

h2 {
    color: orange;
    text-align: center;
    margin-bottom: 1%;
}

#line {
    margin-top: 1%;
    border: orange 2px solid;
    background-color: orange;
    width: 80%;
    margin-right: AUTO;
    margin-left: auto;
}

label {
    color: rgb(29, 29, 29);
}

#tamanho {
    font-size: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

i {
    color: orange;
}

td {
    color: white;
    margin: 5%;
}

.vantagens {
    margin-top: 15px;
    margin-bottom: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button:hover {
    background-color: rgb(29, 29, 29);
    color: orange;
}

#tabela {
    margin-top: 5%;
}

button {
    box-shadow: rgb(29, 29, 29);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 29, 29);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 25px;
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
}

form {
    font-size: 200%;
    color: orange;
}

#color {
    font-size: 300%;
    margin-left: auto;
    margin-right: auto;
    color: orange;
}

#color2 {
    font-size: 150%;
}

#bar {
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 60px;
}

h1 {
    font-size: 200%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    color: orange;
    text-align: center;
}

footer {
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 100%;
    text-align: right;
}

header {
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 60px;
}

#color3 {
    color: rgb(255, 255, 255);
}

#color1 {
    color: white;
}

#icons {
    font-size: 160%;
    margin-top: auto;
}

#icons2 {
    font-size: 300%;
}

a {
    margin-top: -5%;
}

#textBlockimg {
    margin-right: 50%;
}

p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#textBlock {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#banners {
    height: 100%;
}

#logo {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}